$primary_color: orange;
$secondary_color: yellow;
$secondary_color_hover: rgba(255,5,0,0.8);
$font: 'Roboto', sans-serif;
$card_width: (100vw / 5);
$border: 1px solid black;
$shadow: 0 0 0 3px black;
