$primary_color: #58402c;
$secondary_color: yellow;
$secondary_color_hover: rgba(255,5,0,0.8);
$button_color: #30488F;
$font: 'Roboto', sans-serif;
$card_width: (100vw / 5);
$border: 1px solid #58402c;
$shadow: 0 0 0 3px black;
$border-radius: 10px;
